{% extends "base.html" %}
{% block content %}
<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <h3 class="text-center">請求情報登録</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 col-6">
                    <button type="submit" class="btn btn-success btn-block">登録</button>
                </div>
                <div class="col-md-6 col-6">
                    <a href="{% url 'web:list_invoice' %}" class="btn btn-secondary btn-block">一覧に戻る</a>
                </div>
            </div>
           
        </form>
    </div>
</div>

{% endblock %}
{% block extra_js %}
<script>

</script>
{% endblock %}
