{% extends "base.html" %}
{% block content %}
{% load humanize %}
<form action="" method="post">
    {% csrf_token %}
    <p>この請求書を削除しますか?</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>年月日</th>
                    <th>請求宛会社名</th>
                    <th>請求金額</th>
                    <th>登録日</th>
                    <th>登録者</th>
                    <th>更新日</th>
                    <th>更新者</th>
               
               </tr>
            </thead>
            <tbody>
                {% for object in selected_invoices %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>{{ object.yearmonth }}</td>
                    <td>{{ object.invoice_entity.invoice_company_name }}</td>
                    <td>{{ object.total_w_tax }}</td>
                    <td>{{ object.registered_at|date:"Y/m/d f" }}</td>
                    <td>{{ object.registered_by }}</td>
                    <td>{{ object.updated_at|date:"Y/m/d f"|default_if_none:"-" }}</td>
                    <td>{{ object.updated_by| default_if_none:"-" }}</td>
                </tr> 
                <input type="hidden" name="selected_invoices" value="{{ object.pk }}">
                {% endfor %}
            </tbody>
        </table>    
    </div>
    <input class="btn btn-danger" type="submit" value="削除する">

</form>
{% endblock %}