{% extends "base.html" %}

{% block header %}
CSV取込
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 col-12">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> アップロード</button>
        </form>
        {% if row_count %}
            <div class="alert alert-success">{{ row_count }}件</div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script>

    </script>
{% endblock %}