{% extends "base.html" %}
{% block content %}

<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <h3 class="text-center">注文CSV一括取り込みページ</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-12">
        <form action="" method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">送信</button>
        </form>
        {% if row_count %}
            <div class="alert alert-success">{{ row_count }}件</div>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script>
        // previous_yearmonth = "{{ yearmonth }}";
        // previous_customer = "{{ customer }}";
        // $search_button = $('#id_search_button');
        // $pdf_button = $('#id_pdf_button');
        // $gotocreate_button = $('#id_go_to_create_button');
        // $search_customer = $('#id_customer');
        // $search_year = $('#id_year');
        // $search_month = $('#id_month');
        // function initialize_customer() {
        //     $('<option>', {
        //         value: '',
        //         text: '-----'
        //     }).appendTo($search_customer);
        //     $search_customer.val((previous_customer == 'None') ? '' : previous_customer);
        // }
        // function initialize_year() {
        //     var currentyear = 2019;
        //     $('<option>', {
        //         value: '',
        //         text: '----'
        //     }).appendTo($search_year);

        //     for (let offset = 0; offset < 10; offset ++) {
        //         $('<option>', {
        //             value: '' + (currentyear + offset),
        //             text: '' + (currentyear + offset)
        //         }).appendTo($search_year);
        //     }
        //     $search_year.val((previous_yearmonth == 'None') ? '' : previous_yearmonth.substr(0, 4));
            
        // }
        // function initialize_month() {
        //     $('<option>', {
        //         value: '',
        //         text: '----',
        //     }).appendTo($search_month);

        //     for (let i = 1;i < 13; i ++) {
        //         $('<option>', {
        //             value: (i < 10) ? '0' + i : '' + i,
        //             text: (i < 10) ? '0' + i : '' + i
        //         }).appendTo($search_month);
        //     }
        //     $search_month.val((previous_yearmonth == 'None') ? '' : previous_yearmonth.substr(4, 2));
        // }
        // function get_query_string() {
        //     var customer = $search_customer.val();
        //     var year = $search_year.val();
        //     var month = $search_month.val();
        //     var queryobj = {};
        //     if (customer != '') {
        //         queryobj['customer'] = customer;
        //     }
        //     if (month != '' && year != "") {
        //         queryobj['yearmonth'] = '' + year + month;
        //     }
        //     var esc = encodeURIComponent;
        //     return Object.keys(queryobj)
        //         .map(k => esc(k) + '=' + esc(queryobj[k]))
        //         .join('&');
        // }
        // $(function() {
        //     $search_button
        //     .on('click', () => {
                
        //         var query = get_query_string();
        //         window.location.href = "{% url 'web:list_order' %}?" + query;
        //     });
        //     $pdf_button
        //     .on('click', () => {
        //         if ($search_customer.val() == '' || $search_year.val() == '' || $search_month.val() == '') {
        //             alert('対象年月を選択してください')
        //             return;
        //         }
        //         var query = get_query_string();
        //         window.location.href = "{% url 'web:pdf4' %}?" + query;;
        //     });
        //     initialize_customer();
        //     initialize_month();
        //     initialize_year();
        // })
       
    </script>
{% endblock %}