{% extends "base.html" %}

{% load humanize %}


{% block style %}
    <style>
        .my-pdf-btn {
            background-color: green;
            color: white;
        }
    
    </style>
{% endblock %}

{% block header %}
請求書一覧
{% endblock %}

{% block content %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<form method="GET" action="{% url 'web:delete_invoice' %}">

<input type="submit" class="btn my-btn-base my-del-btn" value="削除">
<a href="{% url 'web:create_handwritten_invoice' %}" class="btn my-btn-base my-new-btn">手書登録</a>
<input type="submit" class="btn my-btn-base my-pdf-btn" value="PDF出力" formaction="{% url 'web:pdf_invoice' %}" >
{% if object_list %}
<div class="table-responsive">
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-nowrap"></th>
            <th class="text-nowrap">請求書ID</th>
            <th class="text-nowrap">請求管理簿</th>
            <th class="text-nowrap">年月</th>
            <th class="text-nowrap">支払期日</th>
            <th class="text-nowrap">合計金額(税抜)</th>
            <th class="text-nowrap">合計税額</th>
            <th class="text-nowrap">合計金額(税込)</th>
            <th class="text-nowrap">備考</th>
            <th class="text-nowrap">登録日</th>
            <th class="text-nowrap">登録者</th>
            <th class="text-nowrap">更新日</th>
            <th class="text-nowrap">更新者</th>
            <th class="text-nowrap">明細</th>
       </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class="text-nowrap"><input value="{{ object.id }}" name="selected_invoices" type="checkbox"></td>        
            <td class="text-nowrap">{{ object.id }}</td>
            <td class="text-nowrap">{{ object.invoice_entity }}</td>
            <td class="text-nowrap">{{ object.yearmonth }}</td>
            <td class="text-nowrap">{{ object.payment_due_date|date:'Y/n/j' }}</td>
            <td class="text-nowrap text-right">{{ object.total_wo_tax| intcomma }}</td>
            <td class="text-nowrap text-right">{{ object.total_tax| intcomma }}</td>
            <td class="text-nowrap text-right">{{ object.total_w_tax| intcomma }}</td>
            <td class="text-nowrap">{{ object.note }}</td>
            <td class="text-nowrap">{{ object.registered_at|date:"Y/n/j H:i" }}</td>
            <td class="text-nowrap">{{ object.registered_by }}</td>
            <td class="text-nowrap">{{ object.updated_at|date:"Y/n/j H:i"|default_if_none:"-" }}</td>
            <td class="text-nowrap">{{ object.updated_by| default_if_none:"-" }}</td>
            <td class="text-nowrap"><a href="{% url 'web:list_invoice_detail' %}?invoice_code={{ object.id }}&is_invoiced=y"><i class="fas fa-search"></i></a></td>
        </tr> 
        {% endfor %}  
    </tbody>
</table>    
</div>
</form>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>請求書が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
        $(function() {
            var pdf_url = "{% url 'web:pdf_invoice' %}";
            var has_check = false;
            var $checkboxes = $('input[name="selected_invoices"]');
            $('form').on('submit', function() {
                $checkboxes.each(function(index, elem) {
                    if ($(elem).prop('checked') == true) {
                        has_check = true;
                    }
                });
                if (!has_check) {
                    alert('対象の請求書をチェックしてください');
                    return false;
                }
            })
           
        })

    </script>
{% endblock %}