{% extends "base.html" %}
{% block content %}
{% load humanize %}
<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <h3 class="text-center">顧客一覧ページ</h3>
    </div>
</div>
<hr>
<!-- <hr>
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
        <input id="id_search_word" class="search_input" type="text" name="" placeholder="名前で検索">
        <a href="#" id="id_search_patient"  class="search_icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
<hr> -->
<div class="row">
    <div class="col-md-6 col-6">
        <a href="{% url 'web:create_customer' %}" class="btn btn-outline-primary">新規登録</a>
    </div>
</div>
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% if object_list %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>会社ID.</th>
            <th>法人番号</th>
            <th>契約者カナ</th>
            <th>契約者漢字</th>
            <th>郵便番号</th>
            <th>契約者都道府県</th>
            <th>契約者</th>
            <th>電話番号</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'web:update_customer' object.pk %}">{{ object.code }}</a></td>
            <td>{{ object.company_name }}</td>
            <td>{{ object.dept_name }}</td>
            <td>{{ object.representative }}</td>
            <td>{{ object.zip }}</td>
            <td>{{ object.address }}</td>
            <td>{{ object.email | default_if_none:"-" }}</td>
            <td>{{ object.phone | default_if_none:"-" }}</td>
        </tr> 
        {% endfor %}  
    </tbody>
</table>
</div>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>お客様が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
       
    </script>
{% endblock %}