{% extends "base.html" %}

{% load humanize %}

{% block header %}
請求書一覧
{% endblock %}

{% block content %}
<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<a href="{% url 'web:create_handwritten_invoice' %}" class="btn my-btn-base my-new-btn">手書登録</a>
    
{% if object_list %}
<div class="table-responsive">
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th class="text-nowrap">請求書ID</th>
            <th class="text-nowrap">請求管理簿</th>
            <th class="text-nowrap">年月</th>
            <th class="text-nowrap">合計金額(税抜)</th>
            <th class="text-nowrap">合計税額</th>
            <th class="text-nowrap">合計金額(税込)</th>
            <th class="text-nowrap">備考</th>
            <th class="text-nowrap">登録日</th>
            <th class="text-nowrap">登録者</th>
            <th class="text-nowrap">更新日</th>
            <th class="text-nowrap">更新者</th>
            <th class="text-nowrap">明細</th>
            <th class="text-nowrap">PDF</th>
            
       </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td class="text-nowrap">{{ object.invoice_id }}</td>
            <td class="text-nowrap">{{ object.invoice_entity }}</td>
            <td class="text-nowrap">{{ object.yearmonth }}</td>
            <td class="text-nowrap">{{ object.total_wo_tax| intcomma }}</td>
            <td class="text-nowrap">{{ object.total_tax| intcomma }}</td>
            <td class="text-nowrap">{{ object.total_w_tax| intcomma }}</td>
            <td class="text-nowrap">{{ object.note }}</td>
            <td class="text-nowrap">{{ object.registered_at|date:"Y/m/d f" }}</td>
            <td class="text-nowrap">{{ object.registered_by }}</td>
            <td class="text-nowrap">{{ object.updated_at|date:"Y/m/d f"|default_if_none:"-" }}</td>
            <td class="text-nowrap">{{ object.updated_by| default_if_none:"-" }}</td>
            <td class="text-nowrap"><a href="{% url 'web:list_invoice_detail' %}?invoice_code={{ object.invoice_code }}%invoice_pk={{ object.pk }}"><i class="fas fa-search"></i></a></td>
            <td class="text-nowrap"><a href="{% url 'web:pdf_invoice' object.pk %}"><i class="fas fa-file-pdf"></i></a></td>
        </tr> 
        {% endfor %}  
    </tbody>
</table>    
</div>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>請求書が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
       
    </script>
{% endblock %}