{% extends "base.html" %}
{% block content %}
<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <h3 class="text-center">請求一覧ページ</h3>
    </div>
</div>
<hr>
<table class="table table-bordered" style="width:50%">
    <tr>
        <th>
            お客様
        </th>
        <td>
            <select class="form-control" id="id_customer">
            {% for customer in customer_list %}
                <option value="{{ customer.code }}">{{ customer.company_name }}</option>
            {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            利用月
        </th>
        <td>
            <div class="row">
                <div class="col-md-8 col-8">
                    <select class="form-control" id="id_year">
                    </select>
                </div>
                <div class="col-md-4 col-4">
                    <select class="form-control" id="id_month">
                    </select>
                </div>
            </div>
        </td>
    </tr>
</table>
<button type="button" class="btn btn-primary">検索</button>
    
<hr>

<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% if object_list %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>請求番号</th>
            <th>顧客会社名</th>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>ご利用月</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.code | default_if_none:"-"}}</td>
            <td>{{ object.customer.company_name }}</td>
            <td>{{ object.product.name }}</td>
            <td>{{ object.product.price }}</td>
            <td>{{ object.amount }}</td>
            <td>{{ object.month_used }}</td>
        </tr> 
        {% endfor %}  
    </tbody>
</table>
</div>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>商品が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
        $search_button = $('#id_search_button');
        $search_customer = $('#id_customer');
        $search_year = $('#id_year');
        $search_month = $('#id_month');

        function initialize_year() {
            var currentyear = 2019;
            for (let offset = 0; offset < 10; offset ++) {
                $('<option>', {
                    value: '' + (currentyear + offset),
                    text: '' + (currentyear + offset)
                }).appendTo($search_year);
            }
        }
        function initialize_month() {
            for (let i = 1;i < 13; i ++) {
                $('<option>', {
                    value: (i < 10) ? '0' + i : '' + i,
                    text: (i < 10) ? '0' + i : '' + i
                }).appendTo($search_month);
            }
        }
        $(function() {

            $search_button
            .on('click', () => {
                var customer = $search_customer.val();
                var year = $search_year.val();
                var month = $search_month.val();
                var queryobj = {};
                if (customer != '') {
                    queryobj['customer'] = customer;
                }
                if (month != '' && year != "") {
                    queryobj['yearmonth'] = '' + year + month;
                }
                var esc = encodeURIComponent;
                var query = Object.keys(queryobj)
                    .map(k => esc(k) + '=' + esc(queryobj[k]))
                    .join('&');
                window.location.href = "{% url 'web:list_invoice' %}?" + query;;
            });

            initialize_month();
            initialize_year();
        })
       
    </script>
{% endblock %}