{% extends "base.html" %}
{% block content %}
{% load humanize %}
{% load extra %}

<hr>
<div class="row">
    <div class="col-md-12 col-12">
        <h3 class="text-center">注文一覧ページ</h3>
    </div>
</div>
<hr>
<table class="table table-bordered" style="width:50%">
    <tr>
        <th>
            お客様
        </th>
        <td>
            <select class="form-control" id="id_customer">
            {% for customer in customer_list %}
                <option value="{{ customer.code }}">{{ customer.company_name }}</option>
            {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <th>
            利用月
        </th>
        <td>
            <div class="row">
                <div class="col-md-8 col-8">
                    <select class="form-control" id="id_year">
                    </select>
                </div>
                <div class="col-md-4 col-4">
                    <select class="form-control" id="id_month">
                    </select>
                </div>
            </div>
        </td>
    </tr>
</table>
<button id="id_search_button" type="button" class="btn btn-outline-secondary">検索</button>
<a href="{% url 'web:create_order' %}" class="btn btn-outline-primary">手動登録</a>
<a href="{% url 'web:upload_csv' %}" class="btn btn-outline-secondary">CSV取込</a>
<button id="id_pdf_button" type="button" class="btn btn-outline-success">PDF</button>

     
<hr>

<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% if object_list %}
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>注文番号</th>
            <th>顧客会社名</th>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>税抜額</th>
            <th>税</th>
            <th>小計</th>
            <th>ご利用月</th>
            <th>請求書番号</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="{% url 'web:update_order' object.pk %}">{{ object.code　}}</a></td>
            <td>{{ object.customer.company_name }}</td>
            <td>{{ object.product.name }}</td>
            <td align="right">{{ object.product.price | intcomma  }}</td>
            <td align="right">{{ object.amount }}</td>
            <td align="right">{{ object.subtotal | intcomma  }}</td>
            <td align="right">{{ object.tax | intcomma }}</td>
            <td align="right">{{ object.subtotal|add:object.tax | intcomma  }}</td>
            <td align="right">{{ object.month_used }}</td>
            <td>{{ object.invoice|default_if_none:"-"}}</td>
        </tr> 
        {% endfor %}
    </tbody>
</table>
</div>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>注文が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
        previous_yearmonth = "{{ yearmonth }}";
        previous_customer = "{{ customer }}";
        $search_button = $('#id_search_button');
        $pdf_button = $('#id_pdf_button');
        $gotocreate_button = $('#id_go_to_create_button');
        $search_customer = $('#id_customer');
        $search_year = $('#id_year');
        $search_month = $('#id_month');
        function initialize_customer() {
            $('<option>', {
                value: '',
                text: '-----'
            }).appendTo($search_customer);
            $search_customer.val((previous_customer == 'None') ? '' : previous_customer);
        }
        function initialize_year() {
            var currentyear = 2019;
            $('<option>', {
                value: '',
                text: '----'
            }).appendTo($search_year);

            for (let offset = 0; offset < 10; offset ++) {
                $('<option>', {
                    value: '' + (currentyear + offset),
                    text: '' + (currentyear + offset)
                }).appendTo($search_year);
            }
            $search_year.val((previous_yearmonth == 'None') ? '' : previous_yearmonth.substr(0, 4));
            
        }
        function initialize_month() {
            $('<option>', {
                value: '',
                text: '----',
            }).appendTo($search_month);

            for (let i = 1;i < 13; i ++) {
                $('<option>', {
                    value: (i < 10) ? '0' + i : '' + i,
                    text: (i < 10) ? '0' + i : '' + i
                }).appendTo($search_month);
            }
            $search_month.val((previous_yearmonth == 'None') ? '' : previous_yearmonth.substr(4, 2));
        }
        function get_query_string() {
            var customer = $search_customer.val();
            var year = $search_year.val();
            var month = $search_month.val();
            var queryobj = {};
            if (customer != '') {
                queryobj['customer'] = customer;
            }
            if (month != '' && year != "") {
                queryobj['yearmonth'] = '' + year + month;
            }
            var esc = encodeURIComponent;
            return Object.keys(queryobj)
                .map(k => esc(k) + '=' + esc(queryobj[k]))
                .join('&');
        }
        $(function() {
            $search_button
            .on('click', () => {
                
                var query = get_query_string();
                window.location.href = "{% url 'web:list_order' %}?" + query;
            });
            $pdf_button
            .on('click', () => {
                if ($search_customer.val() == '' || $search_year.val() == '' || $search_month.val() == '') {
                    alert('対象年月を選択してください')
                    return;
                }
                var query = get_query_string();
                window.location.href = "{% url 'web:pdf4' %}?" + query;;
            });
            initialize_customer();
            initialize_month();
            initialize_year();
        })
       
    </script>
{% endblock %}