{% extends "base.html" %}

{% load humanize %}
{% block header %}
会社情報一覧
{% endblock %}
{% block content %}

<ul class="messages">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<form method="GET" action="{% url 'web:delete_company' %}">

<button  type="submit" class="btn my-btn-base my-del-btn">削除</button>
<a href="{% url 'web:create_company' %}" class="btn my-btn-base my-new-btn">手動登録</a>
<a href="{% url 'web:upload_company' %}" class="btn my-btn-base my-import-btn">一括取込</a>
{% if object_list %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="text-nowrap"></th>
                <th class="text-nowrap">会社ID.</th>
                <th class="text-nowrap">法人番号</th>
                <th class="text-nowrap">契約者カナ</th>
                <th class="text-nowrap">契約者漢字</th>
                <th class="text-nowrap">郵便番号</th>
                <th class="text-nowrap">契約者都道府県</th>
                <th class="text-nowrap">契約者市区町村</th>
                <th class="text-nowrap">契約者住所番地以降</th>
                <th class="text-nowrap">契約者住所建物名</th>
                <th class="text-nowrap">連絡先電話番号1</th>
                <th class="text-nowrap">連絡先電話番号2</th>
                <th class="text-nowrap">FAX番号</th>
                <th class="text-nowrap">URL</th>
                <th class="text-nowrap">代表者名</th>
                <th class="text-nowrap">担当者名</th>
                <th class="text-nowrap">メール</th>
                <th class="text-nowrap">特記事項</th>
                <th class="text-nowrap">登録日</th>
                <th class="text-nowrap">登録者</th>
                <th class="text-nowrap">更新日</th>
                <th class="text-nowrap">更新者</th>
                <th class="text-nowrap">更新</th>
        
        </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td class="text-nowrap"><input value="{{ object.pk }}" name="selected_companies" type="checkbox"></td>
                <td class="text-nowrap">{{ object.pk }}</td>
                <td class="text-nowrap">{{ object.corporate_number }}</td>
                <td class="text-nowrap">{{ object.kana_name| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.kanji_name| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.zip| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.address_pref| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.address_city| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.address_street| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.address_bld| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.telephone_1| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.telephone_2| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.fax| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.hp_url| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.owner_name| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.representative_name| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.email| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.note| default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.registered_at|date:"Y/m/d f" }}</td>
                <td class="text-nowrap">{{ object.registered_by }}</td>
                <td class="text-nowrap">{{ object.updated_at|date:"Y/m/d f"|default_if_none:"-" }}</td>
                <td class="text-nowrap">{{ object.updated_by| default_if_none:"-" }}</td>
                <td class="text-nowrap"><a href="{% url 'web:update_company' object.pk %}"><i class="far fa-edit"></i></a></td>
            </tr> 
            {% endfor %}  
        </tbody>
    </table>    
</div>
</form>
    {% if is_paginated %}
    {% include "include/pagination.html" %}
    {% endif %}

{% else %}
    <p>企業情報が登録されていません</p>
{% endif %}

{% endblock %}
{% block extra_js %}
    <script>
       var $checked = 
    </script>
{% endblock %}