{% extends "base.html" %}

{% block header %}
Web Invoice
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-2 col-4 offset-2">
        <input id="c_num" type="text" class="form-control" name="corporate_number" placeholder="法人番号" style="margin-bottom: 10px">
        <input id="c_name" type="text" class="form-control" name="company_name" placeholder="企業名" style="margin-bottom: 10px">
        <input id="p_num" type="text" class="form-control" name="phone_number" placeholder="連絡先" style="margin-bottom: 10px">
        <input id="ym" type="text" class="form-control" name="year_month" placeholder="請求月" style="margin-bottom: 10px">
        <input id="i_num" type="text" class="form-control" name="invoice_id" placeholder="請求書番号">
    </div>
    <div class="col-md-4 col-4">
        <button id="search_company" type="button" class="btn btn-primary btn-block"><i class="fas fa-search"></i> 企業情報検索</button>
        <button id="search_entity" type="button" class="btn btn-primary btn-block"><i class="fas fa-search"></i> 請求管理簿検索</button>
        <button id="search_detail" type="button" class="btn btn-primary btn-block"><i class="fas fa-search"></i> 請求明細検索・請求書作成</button>
        <button id="search_invoice" type="button" class="btn btn-primary btn-block"><i class="fas fa-search"></i> 請求書検索・発行</button>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script>
        url_company = "{% url 'web:list_company' %}";
        url_entity = "{% url 'web:list_invoice_entity' %}";
        url_detail = "{% url 'web:list_invoice_detail' %}";
        url_invoice = "{% url 'web:list_invoice' %}";
       
        
        $input_corporate_number = $('#c_num');
        $input_company_name = $('#c_name');
        $input_phone_number = $('#p_num');
        $input_year_month = $('#ym');
        $input_invoice_id = $('#i_num');

        $btn_company = $('#search_company');
        $btn_entity = $('#search_entity');
        $btn_detail = $('#search_detail');
        $btn_invoice = $('#search_invoice');

        
        function get_querystring() {
            var obj = {
                'corporate_number': $input_corporate_number.val(),
                'company_name': $input_company_name.val(),
                'phone_number': $input_phone_number.val(),
                'invoice_id': $input_invoice_id.val()
            }
            return $.param(obj);
        }

        $(function() {    
            $btn_company.on('click', function() {
                var param = get_querystring();
                location.href = url_company + '?' + param;
            });

            $btn_entity.on('click', function() {
                var param = get_querystring();
                window.location.href = url_entity + '?' + param;
            });
            
            $btn_detail.on('click', function() {
                var param = get_querystring();
                window.location.href = url_detail + '?' + param;
            });
            $btn_invoice.on('click', function() {
                var param = get_querystring();
                window.location.href = url_invoice + '?' + param;
            });
        });
    </script>
{% endblock %}

