{% extends "base.html" %}

{% block header %}
請求明細更新
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 col-12">
        <form action="" method="POST"> 
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table">
                    {{ form.as_table }}
                </table>
            </div>
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-block">更新</button>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'web:list_invoice_detail' %}" class="btn btn-secondary btn-block">一覧に戻る</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}

{% endblock %}
